/* style.css */

body {
  font: 16px/1.5 sans-serif;
}

#relative em{
  background-color: #ccc;
  position: relative;
  top: -20px;
  right: -30px;
}

nav{
  position: fixed;
  width:100%;
  background-color: rgb(219,81,73);
  top:0;
  left:0;
  z-index: 10;
}

header{
  position: relative;
  top: 30px;
}

div {
  height: 200px;
  width: 200px;
}

#red{
 background-color: red;
 position: absolute;
 bottom: 0px;
 right: 20px;
}

#yellow{
  background-color: yellow;
  position: absolute;
  top: 20px;
  right: 0px;
}

#green{
  background-color: green;
  position: absolute;
  top: 20px;
  left: 20px;
}

#blue{
  background-color: blue;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

article{
  min-height: 500px;
  border: 2px solid #222;
  position: relative;
}
