* {
	box-sizing: border-box;
}

.grid div {
	border: 1px solid rgb(12,71,162);
	border-radius: 3px;
	background-color: rgba(12,71,162,0.8);
	padding: 0.2rem;
	color: #fff;
}

.grid div:nth-of-type(2n) {
	background-color: rgba(12,71,162,0.6);
}
